body {
    font-family: Arial, sans-serif;
    background-color: gray;
}

center {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0 ,0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, td {
    padding: 10px;
    text-align: left;
}

input[type="username"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}